.site-header {
  margin: 0;
  padding: 0; }

.ul-container {
  display: none; }
  @media screen and (min-width: 769px) {
    .ul-container {
      display: block; } }

.primary-menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start; }
  .primary-menu li {
    flex-basis: 150px;
    background-color: #FF0044; }
  .primary-menu li:first-child {
    flex-grow: 1;
    flex-shrink: 1; }
  .primary-menu li a {
    text-decoration: none;
    color: #F3FBFF;
    display: block;
    padding: 20px 20px;
    box-sizing: border-box;
    transition: all .5s; }
  .primary-menu li a:hover {
    color: #FF0044;
    background-color: #F3FBFF; }

.menu-container, .bm-burger-button {
  display: block !important; }
  @media screen and (min-width: 768px) {
    .menu-container, .bm-burger-button {
      display: none !important; } }

.icon {
  margin-right: 5px; }

/* Position and sizing of burger button */
.bm-burger-button {
  position: absolute;
  width: 25px;
  height: 20px;
  right: 20px;
  top: 20px;
  display: block; }

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #FF0044; }

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #FF0083; }

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px; }

/* Color/shape of close button cross */
.bm-cross {
  background: #F3FBFF; }

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: absolute;
  height: 100vh !important;
  width: 100%;
  top: 0;
  right: 0; }

/* General sidebar styles */
.bm-menu {
  background: #FF0044;
  font-size: 1rem !important;
  width: 100% !important; }

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #FF0044;
  padding: 0;
  margin: 0;
  height: 100%;
  right: 0 !important;
  width: 100% !important; }

/* Wrapper for item list */
.bm-item-list {
  margin-top: 40px;
  left: 0 !important;
  width: 100% !important; }

/* Individual item */
.bm-item {
  color: #F3FBFF;
  font-size: 1.25rem;
  padding: 20px 30px;
  box-sizing: border-box;
  text-decoration: none;
  transition: all .5s; }

.bm-item:hover {
  background-color: #F3FBFF;
  color: #FF0044; }

.intro-section {
  margin: 0;
  padding: 0;
  color: #FFF;
  padding: 100px 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; }
  @media screen and (min-width: 769px) {
    .intro-section {
      padding: 100px 200px;
      box-sizing: border-box; } }
  @media screen and (min-width: 770px) and (max-width: 955px) {
    .intro-section {
      padding: 100px; } }
  .intro-section h1, .intro-section p {
    margin: 0;
    padding: 0;
    margin: 15px 0; }
  .intro-section h1 {
    font-size: 3rem;
    font-weight: 800; }
  .intro-section p {
    font-size: 1.25rem;
    font-weight: 500; }

.button-container {
  margin: 0;
  padding: 0;
  margin: 20px 0; }
  @media screen and (min-width: 769px) {
    .button-container {
      margin: 50px 0; } }
  .button-container button {
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 1.25rem;
    border-radius: 5px; }
  .button-container button:hover {
    cursor: pointer; }
  .button-container .ios-button {
    background-color: #FF0044;
    border: #FF0044;
    color: #FFF;
    transition: all .5s; }
  .button-container .ios-button:hover {
    background-color: #d60039;
    border: #d60039; }
  .button-container .android-button {
    transition: all .5s;
    color: #FF0044; }
  .button-container .android-button:hover {
    background-color: #e6e6e6; }

.about-heading, .about-wrapper {
  margin: 0;
  padding: 0; }

.about-wrapper {
  padding: 50px 0; }

@media screen and (min-width: 769px) {
  .feature-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap; }
    .feature-container div {
      max-width: 350px;
      min-width: 350px;
      margin: 10px; } }

.about-heading h2 {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 2rem; }
.about-heading .border {
  margin: 0;
  padding: 0;
  height: 5px;
  max-width: 100px;
  margin: 2px auto;
  background-color: #FF0044; }

.feature-container {
  margin: 0;
  padding: 0;
  margin: 20px 10px;
  padding: 30px 10px;
  border-radius: 8px;
  box-sizing: border-box;
  text-align: center; }
  .feature-container .icon, .feature-container h3 {
    margin: 0;
    padding: 0; }
  .feature-container .icon {
    font-size: 3rem;
    color: #FF0044;
    margin: 20px 0; }
  .feature-container h3 {
    font-size: 1.75rem;
    transition: all .5s; }
  .feature-container p {
    color: #000;
    transition: all .5s; }

.search-section, .validate-section, .review-section {
  padding: 10px 20px;
  margin: 20px 0;
  background-color: #FFF;
  border: 1px solid #DDD;
  background-image: linear-gradient(to left, transparent, transparent 50%, #F3FBFF 50%, #F3FBFF);
  background-position: 100% 0;
  background-size: 200% 100%;
  transition: all .25s ease-in; }

.icon {
  transition: all .5s; }

.search-section:hover, .validate-section:hover, .review-section:hover {
  background-position: 0 0; }

.search-section:hover .icon, .validate-section:hover .icon, .review-section:hover .icon {
  color: #000; }

.search-section:hover h3, .validate-section:hover h3, .review-section:hover h3 {
  color: #FF0044; }

.search-section:hover p, .validate-section:hover p, .review-section:hover p {
  color: #000; }

/*# sourceMappingURL=styles.css.map */
